* {
  font-family: "Plus Jakarta Sans", "Segoe UI", Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 130px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}

.navbar a {
  padding: 10px 12px;
  text-decoration: none;
  color: #666666;

  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.navbar a:hover {
  color: #254cd7;
  /*background-color: #3450BE;*/
  background-color: rgb(117 127 170 / 0.2);
  border-radius: 10px;
}

.logo {
  height: 30px !important;
  width: 100px !important;
}
